/* page reset starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page reset ends here */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body{font-family: 'Inter', sans-serif;}

html{scroll-behavior: smooth;}

/*backdrop starts here */
.backdrop{
    width: 100%;
    height: 100%;
    background: var(--light-text-color);
    /* border: 3px solid pink; */
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.show-backdrop{ display: block;}

/*backdrop ends here */


/* <!-- header section starts here --> */
.myheader{
    /* border: 3px solid orange; */
    max-width: 1500px;
    margin: 0 auto;
    /* height: 1500px; */
}

.header-section-container{
    /* border: 3px solid gold; */
    /* height: 925px; */
    background: var(--linear-gradient),url(./img/header.jpg);
    background-size: cover;
    color: var(--text-color);
    padding: 45px 20px;
    background-position: center;
}

.navmobile{
    display: none;
    /* border: 3px solid black; */
    color: var(--main-color);
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    padding: 13px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.navmobile span{
    color: var(--text-color);
    font-weight: bolder;
    font-size: 30px;
    
}

.hambuger{
    /* border: 3px solid purple; */
    width: 30px;
    /* height: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.change-buger .menu{
    background: transparent;
}

.change-buger .menu::before{
    transform: translateY(0) rotate(45deg);
}


.change-buger .menu::after{
    transform: translateY(0) rotate(-45deg);
}

.menu{
    height: 4px;
    background: var(--text-color);
    width: 100%;
    position: relative;
    
}

.menu::before{
    content: "";
    width: 100%;
    height: 4px;
    background: var(--text-color);
    position: absolute;
    transform: translateY(-10px);
}
.menu::after{
    content: "";
    width: 100%;
    height: 4px;
    background:var(--text-color);
    position: absolute;
    transform: translateY(10px);
}

.mobile-link-holder{
    /* display: none; */
    position: fixed;
    right: 0;
    left:0;
    top: 0;
    /* height: 100vh; */
    width: 100%;
    background: var(--main-color);
    position: fixed;
    /* border: 3px solid green; */
    transform: translateX(200%);
    transition: all 1s ease;
}

.show-mobile-link-holder{
    transform: translateX(0);
}

.mobile-link-holder ul{
    list-style: none;
}

.mobile-link-holder a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 20px 0 15px 25px;
    margin: 10px 0;
    /* border: 3px solid navy; */
}


.mobile-active-link{
    background: var(--text-color);
    color: var(--main-color)!important;
}

.mobile-link-holder span{
    color: var(--text-color);
    font-weight: bolder;
    font-size: 30px;
    display: block;
    margin: 15px 0 15px 20px;
    background: transparent;
    /* border: 2px solid salmon; */
}


 .nav-desktop{
    /* border: 3px solid tomato; */
    display: flex;
    justify-content: space-between;
 }  
  

.icon-holder{
    /* border: 3px solid green; */
    width: 50%;
    
}



.icon-holder ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.icon-holder a {
    color: var(--text-color);
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 10px;
    padding: 10px 0;
    
}
.nav-desktop span{
    font-size: 27px;
    font-weight: bolder;
                         
}

.header-text-container-holder{
    /* border: 3px solid lawngreen; */
    display: flex;
    justify-content: right;
    margin-top: 60px;
}

.header-text-container{
    /* border: 3px solid red; */
    width: 52%;
}

.header-text-container h3{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 55px;
}

.header-text-container p{
    font-size: 25px;
    padding-bottom: 30px;
    /* font-weight: bolder; */
    /* color: var(--main-color); */
}

.header-text-container button{
    border: 2px solid var(--main-color);
    color: var(--text-color);
    background: var(--main-color);
    padding: 8px 24px;
    font-size: 30px;
    text-transform: capitalize;
    border-radius: 30px;
}

/* <!-- header section ends here --> */


/* about us section ends here */
.about-us-section{
    /* border: 3px solid blue; */
    width: 100%;
    background: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    padding: 60px 20px 30px 20px;
    justify-content: space-evenly;
}

.about-us-section span{
    font-size: 20px;
    font-weight: bolder;
    color: var(--text-color);
}


.about-us-section p{
    margin-top: 13px;
    color: var(--text-color);
    text-align:start;
    font-size: 13px;

}


.about-us-textholder{
    /* border: 3px solid saddlebrown; */
    width: 28%;
    background: var(--main-color);
    padding: 20px 25px 15px 20px;
    border-radius: 16px;
    margin:0 10px 45px 0;
    min-width: 250px;
}


.about-button{
    background: var(--text-color);
    color: var(--main-color);
    padding: 8px 10px;
    font-size: 22px;
    font-weight: bolder;
    display: block;
    border-radius: 18px;
    border: 2px solid var(--main-color);
    margin-top: 20px;
}
/* about us section ends here */

/* redirect section starts here */
.button-holder{
    /* border: 3px solid orangered; */
    background: var(--main-color);
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:55px 40px 15px 40px;
    align-items: center;
    
}

.button-holder span{
    font-size: 27px;
    font-weight: bolder;
}

.button-holder button{
    background: var(--text-color);
    color: var(--main-color);
    padding: 12px 11px;
    font-size: 25px;
    font-weight: bolder;
    display: block;
    border-radius: 18px;
    border: 2px solid var(--main-color);
}
/* redirect section ends here */


/* footer section starts here */
footer{
    width: 100%;
    color: var(--text-color);
    /* border: 3px solid orange; */
    background: var(--black);
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 25px 35px;
    text-align: center;

}

footer p {
    font-weight: bolder;
    font-size: 20px;
}


.footer-icon-holder span{
    color: var(--text-color);
    padding: 2px;
    font-size: 20px;
    margin: 0 5px 0 5px;
}

.span2{display: none;}



/* footer section ends here */

